.sidebar {
    width: 200px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.sidebar h2 {
    margin-top: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
}

.sidebar select {
    display: initial;
    width: 100%;
    padding: 8px 12px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: #9e9e9e;
    /*appearance: none; !* Oculta la flecha del select en navegadores webkit *!*/
    /*-webkit-appearance: none; !* Oculta la flecha del select en navegadores webkit *!*/
    /*-moz-appearance: none; !* Oculta la flecha del select en navegadores Firefox *!*/
}

.sidebar select option {
    background-color: #555;
    color: #fff;
}

.sidebar select:focus {
    outline: none;
    box-shadow: 0 0 3px 1px #fff;
}

.sidebar input[type="text"] {
    width: 100%;
    padding: 8px 12px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    color: #9e9e9e;
    box-sizing: border-box;
    background-color: #555;
}

.sidebar input[type="date"] {
    color: #9e9e9e;
    background-color: #555;
}

.sidebar input[type="text"]:focus {
    outline: none;
    background-color: #fff;
}

.search-btn {
   border-radius: 5px;
    width: 100%;
}
